<%= form_for :user, url: users_url do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>
  <br>

  <%= f.label :street %>
  <%= f.text_field :street %>
  <br>

  <%= f.label :country %>
  <%= f.text_field :country %>
  <br>

  <%= f.submit %>
<% end %>
